<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />
	
	<!-- 
	   Scans the classpath for annotated components that will be auto-registered as Spring beans.
	   For example @Controller and @Service. Make sure to set the correct base-package
	  -->
	<!-- 
	<context:component-scan base-package="{controllerPackage}"/> 
	<context:component-scan base-package="{servicePackage}"/> 
	<context:component-scan base-package="{dao(Repository)Package}"/> 
	<context:component-scan base-package="{componentPackage}"/> 
	 -->
	<context:component-scan base-package="wula.http"/> 
	
	<!-- 
	   Configures the annotation-driven Spring MVC Controller programming model.
	   Note that, with Spring 3.0, this tag works in Servlet MVC only!  
	  -->
	<!-- 
	<mvc:annotation-driven /> 
	<mvc:resources mapping="/resources/**" location="/resources/" />
	 -->
	
	<!-- 
	<task:executor id="executorWithPoolSizeRange" pool-size="5-25" queue-capacity="100"/>
  	<task:scheduler id="taskScheduler" pool-size="1"/>    
	<task:annotation-driven executor="executorWithPoolSizeRange" scheduler="taskScheduler"/>
	 -->
	 
	<!-- beans --> 
	<!-- 
	<bean id="world" class="twm.simStore.World" /> 
    <bean id="httpClient" class="twm.simStore.http.HttpClientImpl" />
    <bean id="jsonUtil" class="twm.simStore.util.JsonUtilImpl" />
	 -->
    
	<!-- others -->
	<!-- 
	<import resource = "embedded-db-config.xml" />
	<import resource = "mybatis-config.xml" />
	<import resource = "cache-config.xml" />
	 -->
	
	
	<!-- 
	  start: about Spring WS 
	-->
	<!-- 
	   Contains the configuration to integrate Spring MVC and Spring WS using the
	   DispatcherServlet and MessageDispatcher
	  --> 
	<!--
	<import resource = "mvc-ws-integration.xml" />
	<import resource = "mvc-config.xml" />
	-->
	
	<!-- 
	   Contains the Spring WS specific configuration
	  -->
	<!--  
	<import resource = "spring-ws.xml" />
	-->
	<!-- 
	end: about Spring WS 
	-->
 	
        
</beans>